# Cleaning  and processing data for modelling

In [33]:
import pandas as pd
df = pd.read_csv('../data/dataset_scrape.csv')

In [34]:
## Discovering/removing duplicates:
# print("Printing duplicated rows:", df[df.duplicated()==True])
df.drop_duplicates(inplace = True) #removing the duplicated rows in dataframe
### Removing the rows with empty value
df.dropna(subset=['region'], how='any',inplace=True)
df.dropna(subset=['living_area'], how='any',inplace=True)
df.dropna(subset=['state_building'], how='any',inplace=True)
df.drop(df[(df.type_property == "APARTMENT") & (df.floor.isnull())].index, inplace=True)
df.dropna(subset=['area_garden'], how='any',inplace=True)
# df.dropna(subset=['n_facades'], how='any',inplace=True)
# df.dropna(subset=['area_terrace'], how='any',inplace=True)
### Filling empty values
x = (df[(df.terrace==1) & (df.area_terrace.notnull())].area_terrace.median())
df["area_terrace"].fillna(x, inplace = True)
x = (df[(df.n_facades.notnull())].n_facades.median())
df["n_facades"].fillna(x, inplace = True)
#Getting rif of null values columns
df.drop("street", axis='columns', inplace=True)
df.drop("floor", axis='columns', inplace=True)
df.drop("n_floorCount", axis='columns', inplace=True)

In [35]:
# df.isnull().sum()

In [36]:
df.shape

(11471, 23)

In [37]:
#Droping some columns
# 'n_facades'
df.drop(['url','locality','type_transaction','state_building','subtype_property'], axis='columns', inplace=True)
df

,region,province,district,postalCode,type_property,price,n_rooms,living_area,equipped_kitchen,furnished,fireplace,terrace,area_terrace,garden,area_garden,land_surface,n_facades,swimming_pool
0,Brussels,Brussels,Brussels,1070.0,APARTMENT,170000.0,2.0,64.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0
1,Wallonie,Liège,Liège,4680.0,APARTMENT,219000.0,3.0,124.0,1.0,0.0,0.0,1.0,21.0,1.0,46.0,0.0,4.0,0.0
2,Flanders,East Flanders,Oudenaarde,9600.0,APARTMENT,219000.0,1.0,120.0,1.0,0.0,0.0,0.0,0.0,1.0,2000.0,0.0,4.0,0.0
3,Flanders,East Flanders,Aalst,9300.0,APARTMENT,245000.0,1.0,52.0,1.0,0.0,0.0,1.0,10.0,0.0,0.0,0.0,2.0,0.0
4,Brussels,Brussels,Brussels,1000.0,APARTMENT,330000.0,2.0,90.0,1.0,0.0,0.0,1.0,8.0,0.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14989,Wallonie,Luxembourg,Arlon,6700.0,HOUSE,494000.0,4.0,185.0,0.0,0.0,0.0,1.0,40.0,1.0,1.0,386.0,2.0,0.0
14990,Wallonie,Walloon Brabant,Nivelles,1410.0,HOUSE,495000.0,4.0,198.0,0.0,0.0,0.0,1.0,18.0,0.0,0.0,932.0,2.0,0.0
14991,Flanders,Flemish Brabant,Leuven,3020.0,HOUSE,495000.0,4.0,255.0,1.0,0.0,0.0,1.0,20.0,1.0,285.0,814.0,2.0,0.0
14993,Wallonie,Walloon Brabant,Nivelles,1400.0,HOUSE,499000.0,0.0,330.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0,2.0,0.0
14994,Flanders,Flemish Brabant,Halle-Vilvoorde,1831.0,HOUSE,499000.0,5.0,287.0,0.0,0.0,0.0,1.0,43.0,1.0,84.0,247.0,3.0,0.0

In [38]:
df.postalCode=(df.postalCode/1000)
df.shape

(11471, 18)

In [39]:
#Scaling some values
from sklearn.preprocessing import scale
# col = ['n_rooms','living_area','land_surface']
col = ['n_rooms','living_area', 'area_terrace','area_garden', 'land_surface','postalCode','n_facades']
df[col] = scale(df[col])
df

,region,province,district,postalCode,type_property,price,n_rooms,living_area,equipped_kitchen,furnished,fireplace,terrace,area_terrace,garden,area_garden,land_surface,n_facades,swimming_pool
0,Brussels,Brussels,Brussels,-1.059352,APARTMENT,170000.0,-0.569677,-0.795057,1.0,0.0,0.0,1.0,-0.523385,0.0,-0.114081,-0.103350,-0.665541,0.0
1,Wallonie,Liège,Liège,0.097873,APARTMENT,219000.0,0.032106,-0.353534,1.0,0.0,0.0,1.0,0.101605,1.0,-0.093027,-0.103350,1.765803,0.0
2,Flanders,East Flanders,Oudenaarde,1.675033,APARTMENT,219000.0,-1.171460,-0.382969,1.0,0.0,0.0,0.0,-0.589173,1.0,0.801317,-0.103350,1.765803,0.0
3,Flanders,East Flanders,Aalst,1.578865,APARTMENT,245000.0,-1.171460,-0.883362,1.0,0.0,0.0,1.0,-0.260231,0.0,-0.114081,-0.103350,-0.665541,0.0
4,Brussels,Brussels,Brussels,-1.081792,APARTMENT,330000.0,-0.569677,-0.603730,1.0,0.0,0.0,1.0,-0.326020,0.0,-0.114081,-0.103350,-0.665541,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14989,Wallonie,Luxembourg,Arlon,0.745406,HOUSE,494000.0,0.633889,0.095348,0.0,0.0,0.0,1.0,0.726594,1.0,-0.113623,-0.044002,-0.665541,0.0
14990,Wallonie,Walloon Brabant,Nivelles,-0.950362,HOUSE,495000.0,0.633889,0.191011,0.0,0.0,0.0,1.0,0.002922,0.0,-0.114081,0.039946,-0.665541,0.0
14991,Flanders,Flemish Brabant,Leuven,-0.434258,HOUSE,495000.0,0.633889,0.610458,1.0,0.0,0.0,1.0,0.068710,1.0,0.016363,0.021804,-0.665541,0.0
14993,Wallonie,Walloon Brabant,Nivelles,-0.953567,HOUSE,499000.0,-1.773243,1.162361,1.0,0.0,0.0,0.0,-0.589173,0.0,-0.114081,-0.080287,-0.665541,0.0
14994,Flanders,Flemish Brabant,Halle-Vilvoorde,-0.815405,HOUSE,499000.0,1.235672,0.845937,0.0,0.0,0.0,1.0,0.825277,1.0,-0.075634,-0.065373,0.550131,0.0

In [40]:
# getting dummies values
# dfa = df[df['type_property'=="APARTMENT"]]
# dfh = df[df['type_property'=="HOUSE"]]
df2 = pd.get_dummies(data=df, drop_first=True)
dfa = df2[df2['type_property_HOUSE']==False]
dfh = df2[df2['type_property_HOUSE']==True]

In [41]:
df2
# ser = df.groupby("district")
# ser.size()

,postalCode,price,n_rooms,living_area,equipped_kitchen,furnished,fireplace,terrace,area_terrace,garden,...,district_Thuin,district_Tielt,district_Tongeren,district_Tournai,district_Turnhout,district_Verviers,district_Veurne,district_Virton,district_Waremme,type_property_HOUSE
0,-1.059352,170000.0,-0.569677,-0.795057,1.0,0.0,0.0,1.0,-0.523385,0.0,...,False,False,False,False,False,False,False,False,False,False
1,0.097873,219000.0,0.032106,-0.353534,1.0,0.0,0.0,1.0,0.101605,1.0,...,False,False,False,False,False,False,False,False,False,False
2,1.675033,219000.0,-1.171460,-0.382969,1.0,0.0,0.0,0.0,-0.589173,1.0,...,False,False,False,False,False,False,False,False,False,False
3,1.578865,245000.0,-1.171460,-0.883362,1.0,0.0,0.0,1.0,-0.260231,0.0,...,False,False,False,False,False,False,False,False,False,False
4,-1.081792,330000.0,-0.569677,-0.603730,1.0,0.0,0.0,1.0,-0.326020,0.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14989,0.745406,494000.0,0.633889,0.095348,0.0,0.0,0.0,1.0,0.726594,1.0,...,False,False,False,False,False,False,False,False,False,True
14990,-0.950362,495000.0,0.633889,0.191011,0.0,0.0,0.0,1.0,0.002922,0.0,...,False,False,False,False,False,False,False,False,False,True
14991,-0.434258,495000.0,0.633889,0.610458,1.0,0.0,0.0,1.0,0.068710,1.0,...,False,False,False,False,False,False,False,False,False,True
14993,-0.953567,499000.0,-1.773243,1.162361,1.0,0.0,0.0,0.0,-0.589173,0.0,...,False,False,False,False,False,False,False,False,False,True
14994,-0.815405,499000.0,1.235672,0.845937,0.0,0.0,0.0,1.0,0.825277,1.0,...,False,False,False,False,False,False,False,False,False,True

In [42]:
df2.to_csv("../data/dataset_ALL.csv", index=False, encoding="utf-8")
dfa.to_csv("../data/dataset_APARTMENT.csv", index=False, encoding="utf-8")
dfh.to_csv("../data/dataset_HOUSE.csv", index=False, encoding="utf-8")

In [18]:
df.tail()

,postalCode,price,n_rooms,living_area,equipped_kitchen,furnished,fireplace,terrace,area_terrace,garden,area_garden,land_surface,n_facades,swimming_pool,type_property_HOUSE
14989,6.700,494000.0,4.0,185.0,0.0,0.0,0.0,1.0,40.0,1.0,1.0,386.0,2.0,0.0,1
14990,1.410,495000.0,4.0,198.0,0.0,0.0,0.0,1.0,18.0,0.0,0.0,932.0,2.0,0.0,1
14991,3.020,495000.0,4.0,255.0,1.0,0.0,0.0,1.0,20.0,1.0,285.0,814.0,2.0,0.0,1
14993,1.400,499000.0,0.0,330.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0,2.0,0.0,1
14994,1.831,499000.0,5.0,287.0,0.0,0.0,0.0,1.0,43.0,1.0,84.0,247.0,3.0,0.0,1